body {
  background: #333;
}

main {
  display: flex;
  height: 90vh;
}

#controls {
  display: flex;
  flex-direction: column;
}

#controls > button {
  background: #AAAAAA;
  border: none;
  font-size: 24px;
  margin: 6px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

#controls > button.selected {
  box-shadow: inset 2px 2px 0px rgba(0,0,0,0.6);
}

#multicanvas {
  flex-grow: 1;
  position: relative;
  background: #111;
  border: 2px solid dodgerblue;
  cursor: crosshair;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

hr {
  width: 60%;
  margin: 2rem auto;
}
